body {
    padding-left: 22px;
    padding-right: 22px;
}

a:hover {
    color: palevioletred;
}

.nav {
    overflow: hidden;
    background-color: #ffffff;
}

.nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: #9b9b9b;
}

.nav a.active {
    background-color: #ffffff;
    color: palevioletred;
}

table.schedule {
    border-collapse: collapse;
}

table.schedule thead th {
    background-color: palevioletred;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
}
table.schedule tbody td {
    padding: 15px;
    border: 0.8px solid #9b9b9b;
}

table.schedule tbody tr:nth-child(even){
    background-color: #ededed;
    border: 0.8px solid #9b9b9b;
}
