.nav {
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;

}

.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: #9b9b9b;
}

.nav a.active {
    background-color: #ffffff;
    color: palevioletred;
}

h1{
    font-size: 42px;
    padding-left: 96px;
}
.intro {
    padding-top: 96px;
}

.intro-image {
    padding-top: 46px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


table.schedule {
    border-collapse: collapse;
}

table.schedule thead th {
    background-color: palevioletred;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
}
table.schedule tbody td {
    padding: 15px;
    border: 0.8px solid #9b9b9b;
}

table.schedule tbody tr:nth-child(even){
    background-color: #ededed;
    border: 0.8px solid #9b9b9b;
}
